!.gitignore
.svn
.classpath
.project
.gradle
ObjectStore/
.settings/
bin/
build/
tomcat.*/
target/
.DS_Store
tmp/
.removed
.springBeans
.idea/
*.iml
env.properties
local.properties
git.*.properties
*.swp
*.log
/Servers/
/.metadata/
dump.rdb
jssecacerts
