rule "${triggerID} unit {$unitName} custom segment:unit"
when
    UnitSource ( $unitName:unitName=="${unitName}", $triggerID:triggerID=="${triggerID}",$thingID:thingID  )
    CurrThing(thing==$thingID )
    ThingStatusInRule( thingID == $thingID,${express}  )
then
	insertLogical(new UnitResult($triggerID,$unitName));
end