

rule "${triggerID} multiple segment:group express ${name}"
when
	Trigger($triggerID:triggerID=="${triggerID}" , enable == true)
    $group:Group( triggerID==$triggerID , $things:things ,$name:name)
    CurrThing(thing memberOf $things)
    $status:ThingStatusInRule( $thingID:thingID memberOf $things,${express}  )
then
	insertLogical(new MemberMatchResult($group,$status));
end
